﻿@if (ComponentModel != null)
{
    @if (!EditMode)
    {
        if (!string.IsNullOrEmpty(ComponentModel.Value))
        {
            // Check if the value starts with <a (indicating HTML content)
            bool isHtml = ComponentModel.Value?.TrimStart()?.StartsWith("<a") ?? false;

            if (isHtml)
            {
                int hrefStartIndex = ComponentModel.Value.IndexOf("href=\"");
                if (hrefStartIndex >= 0)
                {
                    int urlStartIndex = hrefStartIndex + "href=\"".Length;
                    int urlEndIndex = ComponentModel.Value.IndexOf("\"", urlStartIndex);
                    if (urlEndIndex >= 0)
                    {
                        string extractedUrl = ComponentModel.Value.Substring(urlStartIndex, urlEndIndex - urlStartIndex);
                        <a href="@extractedUrl" target="_blank">@extractedUrl</a>
                    }
                }
            }
            else
            {
                <a href="@ComponentModel.Value" target="_blank">@ComponentModel.Value</a>
            }
        }
        else
        {
            <input value="@ComponentModel.Value"
            @onchange="@(e => ComponentModel.SetValueFromUI(e.Value.ToString()))"
                   readonly="@ComponentModel.ReadOnly"
            @attributes="@ComponentModel.Attributes" />


        }
        //<button @onclick="Edit">Edit</button>
    }
    else
    {
        <input value="@ComponentModel.Value"
        @onchange="@(e => ComponentModel.SetValueFromUI(e.Value.ToString()))"
               readonly="@ComponentModel.ReadOnly"
        @attributes="@ComponentModel.Attributes" />
    }
}

@code {
    [Parameter]
    public InputModel ComponentModel { get; set; }
    private bool EditMode { get; set; } = false;
    private string OriginalValue { get; set; }

    public static RenderFragment Create(InputModel componentModel) =>
        @<AdditionalDocumentRenderer ComponentModel=@componentModel />;

    private void Edit()
    {
        OriginalValue = ComponentModel.Value;
        EditMode = true;
    }

    private void Save()
    {
        // Perform any validation or processing before saving
        EditMode = false;
    }

    private void Cancel()
    {
        ComponentModel.Value = OriginalValue;
        EditMode = false;
    }
}
